body {
  background: url('/images/noise.png') repeat 0 0 #1c1f1f;
}

.clear {
  clear: both;
}

@event-yellow:#fff69f;

// Overwrite TGM Bootstrap nav styles
.navbar {
  margin: 0;
  &.special-feature {
    width: 100%;
    padding: 8px 0;
    z-index: 999;
    border-bottom: 1px solid rgba(255,255,255,.05);
    .brand {
      background-size: auto;
      .transition(all 200ms linear);
    }
  }
}

.container {
  width: 90%;
  max-width: 1400px;
  min-width: 290px;
  color: white;
  h1,h2,h3,h4,h5,p,strong,em {
    .transition(all 200ms linear);
  }
}


.month {
  .font-size(22);
  font-weight: 600;
  margin-bottom: 20px;
  .opacity(20);
  text-shadow: 0 -1px 0 black;
}

.btn {
  .box-shadow(0 1px 2px #111);
  .transition(all 50ms ease-in);
  &:hover {
    .transition(all 50ms ease-out);
  }
}

#intro-container {
  position: relative;
  background: url('/images/title-bg.png') no-repeat center top transparent;
  background-size: 100% auto;
  background-attachment: fixed;
  overflow: hidden;
  &:after {
    content:'';
    display: block;
    position: relative;
    margin-top: -170px;
    width: 100%;
    height:202px;
    background: url('/images/noise-fader.png') repeat-x center bottom transparent;
    background-size: auto 202px;
    bottom:0;
    left: 0;
    z-index: 0;
  }
  &:before {
    content:'';
    display: block;
    position: absolute;
    width: 110%;
    height:100px;
    // background: url('/images/wire.svg') no-repeat center center transparent;
    // background-size: 100% auto;
    top:19%;
    left: -5%;
    .transition(all 150ms ease-in);
    z-index: 99;
  }
  .arrow {
      background: url(../images/arrow.svg) center top no-repeat transparent;
      background-size: 100% auto;
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 50%;
      bottom: 10%;
      margin-left: -20px;
      .transition(all 150ms ease-out);
      .border-radius(50%);
      &:hover {
        bottom: 9%;
        .transition(all 150ms ease-in);
        background-color: rgba(255,255,255,0.2);
      }
    }
  .title {
    position:relative;
    text-align: center;
    text-transform: uppercase;
    padding:0 0 30%;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    .box-shadow(0 1px 0 rgba(255,255,255,.1));
    height: 100%;
    max-height: 150px;
    h1 {
      position:relative;
      font-family: @sansFontFamily;
      .font-size(140);
      font-weight: 800;
      letter-spacing: -.045em;
      margin-top: 20%;
    }
    h2 {
      .font-size(30);
      font-weight: 100;
      letter-spacing: .05em;
    }
  }
  .intro {
    text-align: center;
    padding: 10% 10% 25%;
    max-width: 900px;
    font-weight: 100;
    margin: 0 auto;
    z-index: 99;
    p {
      .font-size(26);
      line-height: 1.4;
      &:first-child{
        .font-size(35);
        font-style: italic;
        font-weight: 700;
        margin-bottom: 3%;
      }
      a {
        color:#999;
        border-bottom: 1px dotted #999;
        &:hover {
          color:white;
          border-color: white;
          text-decoration: none;
        }
      }
    }
    .arrow {
      bottom:15%;
      &:hover {
        bottom: 14.5%;
      }
    }
  }
}

@gridCellSize: 30px;
#incidents {
  border-top: 1px solid rgba(255,255,255,.1);
  .box-shadow(0 -1px 0 rgba(0,0,0,0.5));
  margin: 0 auto;
  width: 90%;
  margin-top: 0;
  padding: 0 0 5%;
  .incident-grid {
    margin: 0 auto;
    clear: both;
    .date {
      min-height: @gridCellSize;
      margin: 30px 0 0 ;
    }
  }
}
.cellRGBA(@opacity: 1) {
  background-color: rgba(255, 255, 255, @opacity);
}

.cell {
  width: @gridCellSize;
  height: @gridCellSize;
  margin: 4px;
  float: left;
  .cellRGBA(0.05);
  .transition(opacity 150ms ease-in);
  &:hover {
    width:@gridCellSize + 2px;
    height:@gridCellSize + 2px;
    margin: 3px;
    .cellRGBA;
    .box-shadow(0 0 15px 5px rgba(0,0,0,0.6));
    .transition(opacity 50ms ease-out);
    cursor:pointer;
  }
  &.flagged {
    width:@gridCellSize + 4px;
    height:@gridCellSize + 4px;
    .border-radius(4px);
    margin: 2px;
    .cellRGBA;
    background: url('/images/flag.svg') no-repeat center -27px #ffffff;
    background-size: 40% auto;
    .box-shadow(0 0 15px 0 rgba(255,255,255,0.25));
    .transition(all 100ms ease-in);
    &:hover {
      .transition(all 200ms ease-out);
      background-color: @blue;
      background-position: center 9px;
      .box-shadow(0 0 15px 5px rgba(0,0,0,0.3));
    }
  }
  &.event {
    .cellRGBA;
    .border-radius(50%);
    width:@gridCellSize + 6px;
    height:@gridCellSize + 6px;
    margin: 1px;
    background: url('/images/events.svg') no-repeat center 13px;
    background-size: 80% auto;
    &:hover {
      .border-radius(50%);
      width:@gridCellSize + 12px;
      height:@gridCellSize + 12px;
      margin: -2px;
    }
  }
  &.boat-event {
    background-color: @blue;
    &:hover {
      background-position: center 14px;
    }
  }
  &.riot-event {
    background-color: @event-yellow;
    background-position: center -18px;
    &:hover {
      background-position: center -22px;
    }
  }
}

.pullquote {
  position:absolute;
  padding: 30px;
  background-color: #191c1c;
  border: 1px solid #4c5459;
  text-align: left;
  width:400px;
  line-height: 1.2;
  .box-shadow(0 2px 3px black);
  display: none;
  ul {
    margin: 0;
    padding: 0;
    height:20px;
    li {
      list-style: none;
      vertical-align: top;
      .font-size(12);
      line-height: 1;
      font-weight: normal;
      display:inline-block;
      border-right: 1px solid white;
      padding: 0 10px 0 0;
      margin: 0;
      &:last-child {
        border: none;
      }
    }
  }
  blockquote {
    position:relative;
    padding: 0;
    margin: 0 0 20px;
    border:none;
    font-weight: bold;
    font-style: italic;
    .font-size(30);
    color:white;
    max-height: 110px;
    overflow:hidden;
  }
  em {
    .font-size(14);
    line-height: 1;
    font-weight: normal;
    font-style: italic;
    color:@grayLight;
  }
  span {
    .font-size(12);
    text-transform: uppercase;
    line-height: 1;
    font-weight: normal;
    color:white;
    border-left: 1px solid @gray;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
  }
  &.bam {
    width: 80%;
  }
  &:after {
    content: '';
    display:block;
    position:absolute;
    bottom:-11px;
    margin-left: -10px;
    left:50%;
    width:20px;
    height:11px;
    background: url('/images/tooltip-arrows.png') no-repeat 0 0 transparent;
  }
  &.right:after {
    left: 20px;
    margin-left: 0;
  }
  &.left:after {
    left: initial;
    margin-left: 0;
    right: 20px;
  }
}

#links {
  border-top: 1px solid rgba(255,255,255,.1);
  .box-shadow(0 -1px 0 rgba(0,0,0,0.5));
  color: white;
  text-align: center;
  font-weight: bold;
  .font-size(30);
  padding: 9% 0 10%;
}


.filter-menu {
  color:white;
  text-shadow:0 -1px 0 black;
  display:block;
  width:100%;
  left:0;
  background: none;
  position:absolute;
  padding: 22px 0 10px;
  &.affix {
    position:fixed;
    top:0;
    padding: 50px 0 25px;
    background-color: #1c1f1f;
    background: url('/images/noise.png') repeat 0 0 rgba(28,31,31,.95);
    border-bottom: 1px solid rgba(255,255,255,.05);
    .box-shadow(0 0 25px black);
    z-index: 99;
    .month {
      margin-top: 4px;
    }
  }
  .month {
    float: left;
    margin:8px 0 0;
    .opacity(100);
  }
  .filters {
    float:right;
    .opacity(20);
    .btn {
      margin-left: 10px;
    }
    .btn-group {
      .btn {
        background: none;
        border:1px solid rgba(255,255,255,.3);
        text-align: left;
        .box-shadow(none);
      }
      .caret {
        float:right;
      }
      &.incidents .btn {
        width:120px;
      }
      &.facilities .btn {
        width:200px;
      }
    }
  }
}
.share {
  color:white;
  background-color: #232626;
  text-shadow:0 -1px 0 black;
  display:block;
  width:100%;
  height:auto;
  left:0;
  padding:16px 0;
  border-top: 1px solid rgba(255,255,255,.1);
  .box-shadow(0 0 10px black);
  position:fixed;
  bottom:-160px;
  z-index: 999;
  .transition(all 150ms ease-out);
  .opacity(0);
  &.pinned {
    bottom:0;
    .opacity(100);
    .transition(all 500ms 250ms ease-in-out);
  }
  &.noflags {
    padding:10px 0 15px;
    .flags {
      max-width: none;
      width:auto;
      .flag-icon, h3, .btn {
        display:none;
      }
      p {
        .font-size(14);
      }
    }
    .share-tools {
      display:none;
    }
  }
  .flags {
    position:relative;
    width:65%;
    max-width: 630px;
    float:left;
    margin-top: 4px;
    .flag-icon {
      float:left;
      width:56px;
      height:56px;
      margin: 0 16px 15px 0;
      .border-radius(8px);
      background: url('/images/flag.svg') no-repeat center -47px #ffffff;
      background-size: 40% auto;
      .box-shadow(0 0 15px 0 rgba(255,255,255,0.25));
    }
    h3 {
      .font-size(20);
      margin: 0;
      display:inline;
    }
    .btn {
      .font-size(11);
      border:none;
      margin: -9px 0 0 10px;
      padding:2px 6px;
      background-color: #3c3f3f;
      &:hover {
        background-color:#515454;
      }
    }
    p {
      margin-top: 3px;
      .font-size(13);
      line-height: 1.3;
      a {
        color:#999;
        border-bottom: 1px dotted #999;
        &:hover {
          color:white;
          border-color: white;
          text-decoration: none;
        }
      }
    }
  }
  .share-tools {
    float:right;
    width:260px;
    padding:12px 20px;
    background: rgba(255,255,255,.05);
    .border-radius(4px);
    h4 {
      font-weight: normal;
      .font-size(11);
      text-transform: uppercase;
      width:80px;
      margin: 0;
      color:@grayLight;
      float:left;
    }
    ul {
      margin: 0;
      li {
        display:inline-block;
        margin: 0 0 0 6px;
        list-style: none;
        text-indent: -9000px;
        &.icon a {
          background: url('/images/share-icons.svg') no-repeat 0 0 transparent;
          background-size: 100% auto;
          display:block;
          width:50px;
          height:46px;
          .opacity(40);
          .transition(opacity 150ms ease-in);
          &:hover {
            .transition(opacity 150ms ease-out);
            .opacity(100);
          }
        }
        &.icon.facebook a {
          background-position: 0 -83px;
        }
        &.icon.email a {
          background-position: 0 -176px;
        }
      }
    }
  }
}


footer {
  background-color: #222;
  #gradient.vertical-three-colors(#000,#111,2%,#222);
  padding: 40px 0 100px;
  margin-top: 40px;
  text-shadow: 0 -1px 0 black;
  position: relative;
  z-index: 1000;
  &:before {
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height:232px;
    background: url('/images/noise-fader.png') repeat-x center bottom transparent;
    background-size: auto 232px;
    top: -232px;
    left: 0;
    z-index: 0;
  }
  h4 {
    color: white;
    text-transform: uppercase;
  }
  .top a {
    .font-size(12);
    font-weight: bold;
    line-height: 1.8;
    color: white;
    text-transform: uppercase;
    position: absolute;
    right: 10%;
    top: -34px;
    background-color: #000;
    padding: 10px 14px 6px;
    .border-top-radius(6px);
    .transition(all 150ms ease-out);
    &:hover {
      text-decoration: none;
      color: @grayLighter;
      top: -40px;
      padding-bottom: 10px;
      .transition(all 150ms ease-out);
    }
  }
  ul {
    margin: 10px 0 0;
    float: left;
    font-size: 80%;
    padding: 0 40px 0 0;
    li {
      color: @gray;
      .font-size(14);
      list-style: none;
      float: left;
      ul {
        margin: 0 0 20px;
        a {
          margin-bottom: 10px;
        }
      }
      h5 {
        text-transform: uppercase;
        .font-size(12);
        margin: 20px 0 5px;
      }
      ul > li {
        float: none;
      }
    }
  }
  p {
    width: 270px;
    .font-size(12);
    margin-bottom: 0;
    text-transform: uppercase;
    color: @gray;
  }
  a {
    color: white;
    display: block;
    .font-size(24);
    font-weight: 600;
    line-height: .8;
    padding-bottom: 4px;
    &.tgm {
      width:240px;
      text-indent: -9000px;
      background: transparent url(/images/footer-logo.png) 0 0 no-repeat;
    }
    &:hover {
      color:white;
      text-decoration: none;
      .opacity(60);
    }
  }
}



// Modal styles
#modal-container {
  position: fixed;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: none;
  &.show {
    display: block;
  }
  .modal-backdrop, .modal-backdrop.fade.in {
    background: url('/images/noise.png') repeat 0 0 #141616;
    .opacity(90);
    z-index: 9999;
  }
  .modal-slideshow {
    overflow: hidden;
    width: 100%;
    height: 10000px;
  }
  .modal {
    background: #1f2222;
    color: white;
    padding:30px;
    margin-left: 0;
    width:65%;
    max-width: 900px;
    z-index: 99999;
    position: absolute;
    .close {
      color: white;
      text-shadow:none;
      margin-bottom: 10px;
      position: absolute;
      right: 20px;
      top: 20px;
      height:26px;
      .transition(opacity 100ms ease-in);
      text-shadow:0 -1px 0 black;
      width:115px;
      &:hover {
        .opacity(100);
      }
      h5 {
        font-weight: normal;
        text-transform: uppercase;
        .font-size(11);
        position:absolute;
        width: 82px;
        top: -11px;
        text-align: right;
        left:0;
      }
      span {
        position:absolute;
        right:0;
        top:0;
        margin: 0;
        .font-size(50);
      }
    }
    h3 {
      font-family: @serifFontFamily;
      .font-size(14);
      display:inline;
      padding: 15px 20px;
      text-transform: uppercase;
      font-weight: normal;
      z-index: 10;
      &.incident-details {
        background-color: #d5d3bf;
        color:#747368;
        border-top: 1px solid #ecebe2;
      }
    }
    &.fade.in {
      top:10%;
    }
    .modal-header {
      padding: 10px 0 0;
    }
    .modal-body {
      padding: 0;
      max-height: none;
      overflow: visible;
    }
    .event-details,
    .incident-details {
      overflow: visible;
    }
    ul {
      margin: -1px 0 0;
      padding:25px;
      z-index: 99;
      position:relative;
      li {
        list-style: none;
        display:inline-block;
        .font-size(14);
        line-height: 1.2;
        max-width: 150px;
        height:40px;
        vertical-align: bottom;
        span.subtitle {
          font-family: @serifFontFamily;
          display: block;
          .font-size(11);
          line-height: 1.1;
          text-transform: uppercase;
          color:#747368;
          text-shadow: none;
        }
        &.summary-li {
          margin: 0;
          width: 100%;
          height:auto;
          max-width: none;
        }
        p {
          .font-size(20);
          font-weight: 600;
          line-height: 1.4;
          margin-bottom: 35px;
        }
        a {
          color:#747368;
          .font-size(14);
          font-family: @serifFontFamily;
          &.ext-link {
            padding-right: 20px;
            background: url('/images/ext-link.svg') no-repeat right 4px transparent;
          }
        }
      }
    }
    &.event-modal {
      border:none;
      border-top: 1px solid rgba(255,255,255,.2);
      .modal-header {
        padding:0 0 10px;
        border-bottom: 1px solid rgba(255,255,255,.2);
        h3 {
          padding:0;
          .font-size(22);
          font-family: @sansFontFamily;
          font-weight: 800;
        }
      }
      .event-details {
        .media {
          min-height: 270px;
          margin-top: 10px;
          padding:10px;
          background-color: rgba(0,0,0,0.2);
        }
        ul {
          clear:both;
          border-top: 1px solid rgba(255,255,255,.2);
          margin-top: 10px;
          padding:10px 0 0;
          background-color: none;
          li {
            height:auto;
            width:auto;
            max-width: none;
            display:block;
            p.summary {
              width:auto;
            }
          }
        }
      }
    }
    &.event-modal-boat {
      background: @blue;
      text-shadow: 0 -1px 0 rgba(0,0,0,.4);
    }
    &.event-modal-riot {
      color:#333;
      background: @event-yellow;
      text-shadow: 0 1px 0 rgba(255,255,255,.6);
      .modal-header {
        border-color: rgba(0,0,0,.1);
      }
      .close {
        color:#333;
      }
    }
    .incident-details {
      ul {
        background-color: #d5d3bf;
        color:#333;
        li {
          margin: 0 10px 0 0;
          padding: 0 10px 10px 0;
          border-right: 1px solid #c2c1af;
          text-shadow: 0 1px 0 #ecebe2;
          p {
            text-shadow: 0 1px 0 #ecebe2;
            .redact {
              display:inline-block;
              .font-size(11);
              color:#747368;
              background-color: #333;
              text-transform: uppercase;
              text-shadow:0 -1px 0 black;
              padding:4px 8px;
              .box-shadow(0 1px 0 rgba(0,0,0,0.2));
              margin: 0 0 1px;
            }
          }
          &:nth-child(4) {
            border-right: none;
            margin-right: 0;
            padding-right: 0;
          }
          &.summary-li {
            padding: 20px 0 0;
            border-top: 1px solid #c2c1af;
            border-right: none;
            margin: 0;
          }
          &.disclaimer {
            color:#555;
            background-color: rgba(0,0,0,0.05);
            .border-radius(4px);
            line-height: 1.4;
            padding: 15px 15px 18px;
            text-shadow:none;
            .font-size(12);
            margin: 20px 0 0;
            height:auto;
            max-width: none;
            border: none;
            border-top: 1px solid rgba(0,0,0,0.05);
            border-bottom: 1px solid rgba(255,255,255,0.3);
            clear:both;
            a {
              .font-size(12);
              font-family: @sansFontFamily;
              text-shadow: none;
            }
          }
        }
      }
    }
    .flag {
      margin-top: 20px;
      text-align: center;
      clear:both;
      .container {
        width:530px;
        margin: 0 auto;
        h4 {
          .font-size(16);
          float:left;
        }
        .flag-group {
          float:left;
          display:block;
          max-width:280px;
          span {
            display:inline-block;
            margin-top: 5px;
            .font-size(12);
            font-weight: normal;
            clear:both;
            color:@grayLight;
          }
        }
        .btn {
          display:inline-block;
          color:white;
          border:none;
          .font-size(14);
          text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
          padding: 10px 0;
          width:250px;
          margin-left: 10px;
          background: url('/images/flag.svg') no-repeat 15px 11px @blue;
          &:hover {
            background-color: #084975;
          }
          &.unflag {
            background-color: @grayDark;
            &:hover {
              background-color: @gray;
            }
          }
        }
      }
      p {
        clear:both;
        .font-size(14);
        line-height: 1.4;
        .opacity(60);
        margin-top: 15px;
      }
    }
    a.prev, a.next {
      text-shadow: none;
      position: absolute;
      width:65px;
      padding:20px 15px;
      .font-size(12);
      line-height: 1;
      text-transform: uppercase;
      font-weight: 600;
      top: 120px;
      .transition(top 0ms ease-out);
      color:white;
      .border-radius(6px);
      .opacity(50);
      background: url('/images/arrow.svg') no-repeat 10px -110px transparent;
      .transition(all 50ms ease-in);
      &:hover, &:active {
        background-color: rgba(255,255,255,0.1);
        text-decoration: none;
        .opacity(100);
        .transition(all 50ms ease-out);
        cursor: pointer;
      }
    }
    a.prev {
      left:-180px;
      padding-left: 60px;
      display: none;
    }
    &.has-prev .prev {
      display: block;
    }
    a.next {
      right: -180px;
      text-align: right;
      padding-right: 60px;
      background-position: 90px -49px;
      display: none;
    }
    &.has-next .next {
      display: block;
    }
  }
}
