body.embedded{

  .arrow{
    display: none;
  }

  #main {
    background: url('/images/title-bg.png') no-repeat center top transparent;
    background-size: 100% auto;
    background-attachment: fixed;
    z-index: 1;
    min-height: 320px;
  }

  // Sit this behind the pullquotes
  #intro-container .intro, #intro-container .title{
    z-index: 11;
    border-bottom: none;
    box-shadow: none;
  }
  #intro-container {
    background: none;
    &:after {
      display: none;
    }
    .title{
      padding: 20px 0;
      h1 {
        .font-size(52);
      }
      h2 {
        .font-size(14);
        letter-spacing: normal;
      }
    }
    .intro{
      padding-bottom: 0;
    }
  }
  #incidents {
    text-align: center;
    padding: 20px 0;
    .month{
      display: none;
    }
    #incident-grid {
      display: inline-block;
      .date {
        margin-top: 10px;
      }
    }
  }
  .embed-hdr {
    text-align: center;
    h3 {
      .font-size(16);
      font-weight: 400;
    }
  }
  #related {
    padding: 0;
    h2 {
      .font-size(12);
      font-weight: 400;
      letter-spacing: normal;
      text-transform: uppercase;
    }
    .btn {
      display: inline-block;
      width: auto;
      margin: 0 0 0 10px;
    }
  }
  #main-pullquote{
    .event, .incident{
      display: none;
    }
    &.pullquote {
      width: 300px;
      &:after {
        display: block;
      }
    }
  }
}

body.loading .loading-icon{
  bottom: 10px;
  display: block;
}
