body.embedded{
  .arrow{
    display: none;
  }
  #main {
    background: url('/images/title-bg.png') no-repeat center top transparent;
    background-size: 100% auto;
    background-attachment: fixed;
    z-index: 1;
  }

  // Sit this behind the pullquotes
  #intro-container .intro, #intro-container .title{
    z-index: 11;
    border-bottom: none;
    box-shadow: none;
  }
  #incidents {
    background-color: rgba(28,31,31,0.4);
    text-align: center;
    padding: 40px 10%;
    width: 80%;
    min-height: 260px;
    .box-shadow(inset 0 0 120px #1c1f1f;);
    .month{
      display: none;
    }
    #incident-grid {
      margin-top: 15px;
      display: inline-block;
      .date {
        margin-top: 10px;
        @cellWidth: 42px;
        .cell {
          width: @cellWidth;
          height: @cellWidth;
          margin: 4px;
        }
      }
    }
  }
  .embed-hdr {
    text-align: center;
    h3 {
      .font-size(20);
      padding: 0 5%;
      line-height: 1.3;
      font-weight: 400;
      margin: 0;
    }
  }
  #related {
    color: white;
    background-color: rgba(47,51,51,.4);
    text-shadow: 0 -1px 0 #000000;
    display: block;
    width: 100%;
    height: auto;
    left: 0;
    padding: 7px 0 11px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    .box-shadow(0 0 10px black);
    position: fixed;
    bottom: 0;
    z-index: 99999;
    h2 {
      color: rgba(255,255,255,.6);
      margin: 0;
      display: block;
      .font-size(12);
      line-height: 1;
      font-weight: 400;
      letter-spacing: normal;
      text-transform: uppercase;
    }
    a#view-in-context {
      line-height: 1;
      .font-size(12);
      text-transform: uppercase;
      clear: both;
      display: inline;
      color: white;
      border-bottom: 1px dotted white;
      padding: 0;
      &:hover {
        text-decoration: none;
        border-bottom-style: solid;
      }
    }
    .btn {
      display: inline-block;
      width: auto;
      margin: 0 0 0 10px;
      padding: 4px 10px;
    }
  }
  #main-pullquote{
    .event, .incident{
      display: none;
    }
    //Overrides the mediaquery for mobile
    &.pullquote { 
      width: auto;
      max-width: 320px;
      padding: 15px;
      blockquote {
        .font-size(16);
        max-height: 58px;
      }
      em.pullquote-facility {
        .font-size(10);
      }
      &:after {
        display: block;
      }
    }
  }

  // SMALL VERSION
  @media only screen and (max-width: 320px) {
    #incidents {
      min-width: auto;
      width: auto;
      min-height: 280px;
      padding: 30px 18px;
    }
    .embed-hdr {
      h3 {
        .font-size(14);
        padding: 0;
      }
    }
    #related {
      h2, a#view-in-context  {
        .font-size(11);
        line-height: 1;
      }
      .btn {
        margin-top: 6px;
      }
    }
    #main-pullquote{
      &.pullquote { 
        width: auto;
        max-width: 250px;
      }
    }
  }
}

body.loading .loading-icon{
  top: 40%;
  display: block;
}
