// iPAD LANDSCAPE

@media only screen and (max-width: 1500px) {
  #intro-container {
    &:before {
      top:16%;
    }
    .title {
      h1 {
        margin-top: 220px;
        .font-size(110);
      }
      h2 {
        .font-size(24);
      }
    }
  }
  #modal-container {
    .modal {
      &.fade.in {
        top:5%;
      }
      .modal-body {
        max-height: 420px;
      }
    }
  }
}


// PORTRAIT
@media only screen and (max-width: 980px) {
  .navbar.special-feature {
    padding: 8px 0;
    .brand.brand-center {
      background-position: 24px center;
      float: left;
      margin: 0;
      width:412px;
    }
  }
  #intro-container {
    &:before {
      top:14%;
    }
    &:after {
      height:100px;
      background-size: auto 100px;
    }
    .title {
      height: 280px;
      max-height: none;
      h1 {
        margin-top: 320px;
        .font-size(85);
        &:after {
          top:-10px;
        }
      }
      h2 {
        .font-size(18);
      }
    }
    .intro {
      padding-bottom: 40%;
      .arrow {
        bottom:10%;
        &:hover {
          bottom:9.5%;
        }
      }
      p {
        .font-size(24);
        &:first-child {
          .font-size(30);
        }
      }
    }
  }
  .filter-menu {
    .filters {
      .btn-group {
        .btn {
          &:after {
            content:'';
            display: block;
            position: absolute;
            width: 30px;
            height:30px;
            background: url('/images/filter-fade.png') no-repeat 0 0 transparent;
            top: 0;
            right: 0;
            z-index: 10;
          }
        }
        &.incidents .btn {
          width:110px;
        }
        &.facilities .btn {
          width:230px;
        }
      }
    }
  }
  .share {
    padding:12px 0 16px;
    &.noflags {
      .flags {
        p {
          display:block;
          .font-size(12);
        }
      }
    }
    .flags {
      margin: 4px 0 0;
      width:55%;
      .flag-icon {
        width:54px;
        height:54px;
        background-position: center -44px;
        margin-right: 8px;
      }
      h3 {
        .font-size(18);
        line-height: 1.4;
        display:block;
      }
      p {
        display:none;
      }
      .btn {
        margin:4px 0 0;
      }
    }
    .share-tools {
       padding: 8px 12px;
    }
  }

  #modal-container {
    .modal-slideshow {
      .modal {
        width:80%;
        margin: 0 auto;
        padding: 20px;
        .modal-header {
          padding: 0;
        }
        .modal-body {
          max-height: none;
        }
        .close {
          right: 15px;
          top: 11px;
        }
        h3 {
          padding: 10px 15px;
        }
        ul {
          padding: 15px 15px 20px;
          li {
            display:block;
            max-width: none;
            .font-size(12);
            border-right: none;
            border-bottom: 1px dotted #c2c1af;
            height: auto;
            line-height: 1.1;
            padding: 0 0 5px;
            margin: 0 0 5px;
            .subtitle {
              float: left;
              .font-size(11);
              margin-right: 6px;
              margin-top: 1px;
              > span {
                float: left;
                margin-top: 0;
              }
            }
            &.summary-li {
              border:none;
              padding:0;
              min-height: 160px;
              p {
                clear: both;
                line-height: 1.3;
              }
            }
            &.disclaimer {
              padding:6px 10px 8px;
              .font-size(12);
            }
          }
        }
        .flag {
          border-top: 1px solid rgba(255,255,255,0.2);
          padding-top: 10px;
        }
        a.prev, a.next {
          position:relative;
          top:auto;
          left: auto;
          right:auto;
          float:left;
          width: 90px;
          display:inline-block;
          .font-size(11);
          margin: 3px 0 4px;
          padding: 20px 10px 20px 60px;
          background-position: 8px -117px;
          background-color: transparent;
        }
        a.next {
          float:right;
          padding: 20px 60px 20px 10px;
          background-position: 110px -56px;
        }
      }
    }
  }
}

// BIG PHONES AND SMALL TABLETS
@media only screen and (max-width: 750px) {
  .navbar.special-feature {
    .brand.brand-center {
      float: none;
      margin: 0 auto;
      width: 190px;
      background-position: left center;
    }
  }
  #intro-container {
    .title {
      height:200px;
      h1 {
        .font-size(75);
        margin-top: 200px;
        &:after {
          top:-30px;
        }
      }
      h2 {
        .font-size(16);
      }
    }
    .intro {
      p {
        .font-size(20);
        &:first-child {
          .font-size(24);
        }
      }
    }
  }
  #incidents {
    .incident-grid {
      .date {
        @gridCellSize: 27px;
        .cell {
          width: @gridCellSize;
          height: @gridCellSize;
          margin: 3px;
          &:hover {
            width:@gridCellSize + 4px;
            height:@gridCellSize + 4px;
            margin: 1px;
          }
          &.flagged {
            width:@gridCellSize + 4px;
            height:@gridCellSize + 4px;
            margin: 1px;
            background-position: center -25px;
            &:hover {
              background-position: center 8px;
            }
          }
          &.event {
            .border-radius(50%);
            width:@gridCellSize + 4px;
            height:@gridCellSize + 4px;
            margin: 1px;
            &:hover {
              .border-radius(50%);
              width:@gridCellSize + 6px;
              height:@gridCellSize + 6px;
              margin: 0;
            }
          }
          &.boat-event {
            background-position: center 11px;
            &:hover {
              background-position: center 12px;
            }
          }
          &.riot-event {
            background-position: center -16px;
            &:hover {
              background-position: center -18px;
            }
          }
        }
      }
    }
  }
  .filter-menu {
    &.affix {
      padding: 15px 0 10px;
      .month {
        margin-top: 13px;
      }
    }

    .filters {
      h4 {
        display:block;
        margin: 0 0 2px;
      }
      .btn-group {
        margin: 0;
        .btn {
          &:after {
            content:'';
            display: block;
            position: absolute;
            width: 30px;
            height:30px;
            background: url('/images/filter-fade.png') no-repeat 0 0 transparent;
            top: 0;
            right: 0;
            z-index: 10;
          }
        }
        &.incidents .btn {
          width:110px;
        }
        &.facilities .btn {
          width:230px;
        }
      }
    }
  }
  .pinned {
    &.share {
      padding: 10px 0 20px;
      .flags {
        float:none;
        width:auto;
        max-width: none;
        margin-bottom: 20px;
        h3 {
          .font-size(16);
          line-height: 1.2;
        }
        .flag-icon {
          margin-bottom: 0;
        }
      }
      .share-tools {
        float: none;
        clear:both;
        width:auto;
        padding:8px 10px;
        h4 {
          width:40%;
          margin: 0 0 10px;
        }
        ul {
          li.icon a {
            width:40px;
            height:36px;
          }
          li.icon.facebook a {
            background-position: 0 -67px;
          }
          li.icon.email a {
            background-position: 0 -141px;
          }
        }
      }
    }
  }
  .pullquote {
    width:300px;
    padding:20px;
    blockquote {
      .font-size(24);
      max-height: 85px;
    }
    span, em {
      .font-size(11);
    }
  }
}

// PHONES
@media only screen and (max-width: 670px) {
  .hidden-phone {
    display:none;
  }
  .navbar {
    &.special-feature {
      padding: 2px 0;
      .special-feature-misc {
        display: none;
      }
    }
  }
  #intro-container {
    &:before {
      top:11%;
    }
    .title {
      height:120px;
      h1 {
        .font-size(32);
        margin-top: 110px;
        margin-bottom: 4px;
        letter-spacing: -.03em;
        &:after {
          top:-32px;
        }
      }
      h2 {
        margin: 0;
        .font-size(11);
      }
    }
    .intro {
      padding: 30px 6px 200px;
      p {
        .font-size(14);
        line-height: 1.6;
        &:first-child {
          .font-size(16);
        }
      }
      .arrow {
        bottom:50px;
      }
    }
    &:after {
      height:70px;
      background-size: auto 70px;
    }
  }
  #incidents {
    .incident-grid {
      .date {
        margin-top: 14px;
        .month {
          .font-size(16);
          margin-bottom: 6px;
        }
      }
    }
  }
  footer {
    padding: 20px 20px 30px;
    .top a {
      text-align: center;
      width: 102px;
      right: 50%;
      margin-right: -65px;
    }
    ul {
      padding:0;
      li {
        float: none;
      }
    }
  }
  .pinned {
    &.filter-menu {
      margin-top:0;

      .month {
        .font-size(16);
        margin: 0;
      }
      .filters {
        display:none;
      }
      &.affix {
        padding: 5px 0 8px;
        .box-shadow(0 0 10px black);
      }
    }
    &.share {
      padding:10px 0 12px;
      &.noflags {
        display:none;
        padding: 6px 0;
        .flags {
          p {
            .font-size(12);
            text-align: center;
            span {
              display:none;
            }
            a {
              float:none;
            }
          }
        }
        .share-tools {
          display:none;
        }
      }
      .flags {
        margin: 0;
        width:65%;
        float:left;
        line-height: 1.1;
        h3 {
          .font-size(12);
          width:auto;
          display:inline;
          vertical-align: top;
          margin: 0 4px 0 0;
        }
        .flag-icon {
          margin: 0 8px 0 0;
          width:26px;
          height:26px;
          background-position: center -21px;
          .border-radius(4px);
        }
        .btn {
          position:relative;
          background: none;
          .box-shadow(none);
          padding: 0;
          border-bottom: 1px dotted white;
          .border-radius(0);
          margin: 0;
          line-height: 1.2;
          text-align: left;
          vertical-align: top;
          display:inline;
        }
      }
      .share-tools {
        padding: 0;
        background: none;
        float:right;
        clear:none;
        h4 {
          display:none;
        }
        ul {
          float:right;
          li {
            margin: 0;
          }
          li.icon a {
            width:30px;
            height:26px;
          }
          li.icon.facebook a {
            background-position: 0 -50px;
          }
          li.icon.email a {
            background-position: 0 -106px;
          }
        }
      }
    }
  }
  .pullquote {
    width:200px;
    padding:15px;
    blockquote {
      .font-size(18);
      margin-bottom: 6px;
      max-height: 65px;
    }
    span, em {
      .font-size(11);
      line-height: 1.2;
      display:block;
      border: none;
      margin: 0;
      padding: 0;
    }
  }
  #modal-container {
    .modal-slideshow {
      .modal {
        padding:5% 2% 2%;
        width:96%;
        height:100%;
        border: none;
        .close {
          top:9px;
          right:6px;
        }
        h3 {
          padding:10px 12px;
          .font-size(12);
        }
        &.fade.in {
          top:0;
        }
        ul {

          padding:8px 12px 12px;
          li {
            &.summary-li {
              min-height: auto;
            }
            &.disclaimer {
              display:none;
            }

          }
        }
        .flag {
          .container {
            h4 {
              display:none;
            }
            .flag-group {
              float:none;
              margin: 0 auto;
              max-width: none;
              .btn {
                padding: 8px 0;
                margin: 0 auto;
                display:block;
                .font-size(12);
                background-position: 15px 9px;
              }
              span {
                display:block;
                .font-size(11);
              }
            }
          }
          p {
            .font-size(12);
            margin-top: 6px;
          }
        }
        .incident-details ul li.summary-li p {
          .font-size(14);
          margin-bottom: 4px;
        }
        .incident-details ul li.summary-li .subtitle {
          display:none;
        }
        a.prev, a.next {
          width:55px;
          padding: 10px 10px 10px 40px;
          background-position: 8px -117px;
          background-size: 26px auto;
          background-position: 8px -71px;
        }
        a.next {
          padding: 10px 40px 10px 10px;
          background-position: 72px -31px;
        }
      }
    }
  }
}