// NORMAL SCREENS

@media only screen and (max-height: 900px) {
  #intro-container {
    .title {
      height: 180px;
      h1 {
        margin-top: 220px;
      }
    }
  }
}

// iPAD LANDSCAPE

@media only screen and (max-width: 1400px) {
  #intro-container {
    &:before {
      top:15%;
    }
    .title {
      h1 {
        margin-top: 220px;
        .font-size(110);
      }
      h2 {
        .font-size(24);
      }
    }
  }
}

// SMALLER SCREENS AND PORTRAIT

@media only screen and (max-width: 980px) {
  .navbar.special-feature {
    padding: 8px 0  8px 20px;
    .brand.brand-center {
      background-position: left center;
      float: left;
      margin: 0;
    }
  }
  #intro-container {
    &:before {
      top:18%;
    }
    .title {
      h1 {
        .font-size(80);
        &:after {
          top:-10px;
        }
      }
      h2 {
        .font-size(18);
      }
    }
    .intro {
      p {
        .font-size(24);
      }
    }
  }
  .pinned {
    &.share {
      .flags {
        width:57%;
        .flag-icon {
          width:40px;
          height: 40px;
          margin: 4px 15px 40px 0;
          background-position: center -35px;
        }
        h3 {
          .font-size(18);
          line-height: 1.4;
        }
      }
    }
  }
  .modal {
    width:80%;
    margin: 0 auto;
    left: 7.5%;
    border: none;
    padding: 20px;
    .modal-header {
      padding: 0;
    }
    .close {
      right: 15px;
      top: 11px;
    }
    h3 {
      padding: 10px 15px;
    }
    .incident-details ul {
      padding: 15px 15px 20px;
      li {
        display:block;
        max-width: none;
        border-right: none;
        border-bottom: 1px solid #c2c1af;
        height: auto;
        padding: 0 0 10px;
        margin: 0 0 10px;
        &:last-child {
          border:none;
          padding:0;
          p {
            .font-size(14);
            margin-bottom: 10px;
          }
        }
      }
    }
    .flag {
      border-top: 1px solid rgba(255,255,255,0.2);
      padding-top: 10px;
    }
    a.prev, a.next {
      position:relative;
      top:auto;
      left: auto;
      right:auto;
      float:left;
      width: 90px;
      display:inline-block;
      .font-size(11);
      margin: 10px 0;
      padding: 20px 10px 20px 60px;
      background-position: 8px -117px;
    }
    a.next {
      float:right;
      padding: 20px 60px 20px 10px;
      background-position: 110px -56px;
    }
  }
}

// BIG PHONES AND SMALL TABLETS
@media only screen and (max-width: 810px) {
  .navbar.special-feature {
    .brand.brand-center {
      float: none;
      margin: 0 auto;
      width: 190px;
    }
  }
  .container {
    width: 95%;
  }
  #intro-container {
    .title {
      height:200px;
      h1 {
        .font-size(60);
        margin-top: 200px;
        &:after {
          top:-30px;
        }
      }
      h2 {
        .font-size(16);
      }
    }
    .intro {
      p {
        .font-size(20);
      }
    }
  }
  #incidents {
    width:95%;
    .container {
      width:auto;
    }
    .incident-grid {
      .date {
        @gridCellSize: 27px;
        .cell {
          width: @gridCellSize;
          height: @gridCellSize;
          margin: 3px;
          &:hover {
            width:@gridCellSize + 4px;
            height:@gridCellSize + 4px;
            margin: 1px;
          }
          &.event {
            .border-radius(50%);
            width:@gridCellSize + 4px;
            height:@gridCellSize + 4px;
            margin: 1px;
            &:hover {
              .border-radius(50%);
              width:@gridCellSize + 6px;
              height:@gridCellSize + 6px;
              margin: 0;
            }
          }
          &.boat-event {
            background-position: center 11px;
            &:hover {
              background-position: center 12px;
            }
          }
          &.riot-event {
            background-position: center -16px;
            &:hover {
              background-position: center -18px;
            }
          }
        }
      }
    }
  }
  .pinned {
    &.share {
      padding: 10px 0 20px;
      .flags {
        float:none;
        width:auto;
        max-width: none;
        margin-bottom: 20px;
        h3 {
          .font-size(16);
          line-height: 1.2;
          display:block;
        }
        p {
          display:none;
        }
        .flag-icon {
          margin-bottom: 0;
        }
        .btn {
          margin: 4px 0 0;
        }
      }
      .share-tools {
        float: none;
        width:auto;
        padding:10px 20px;
        h4 {
          width:auto;
          margin: 12px 10px 0 0;
        }
        ul {
          li.icon a {
            width:40px;
            height:36px;
          }
          li.icon.facebook a {
            background-position: 0 -67px;
          }
          li.icon.email a {
            background-position: 0 -141px;
          }
        }
      }
    }
  }
}

// PHONES
@media only screen and (max-width: 700px) {
  .navbar {
    &.special-feature {
      position:relative;
      padding: 2px 0;
      .special-feature-misc {
        display: none;
      }
    }
  }
  #main {
    margin-top: 0;
  }
  #intro-container {
    &:before {
      top:11%;
    }
    .title {
      height:140px;
      h1 {
        .font-size(34);
        margin-top: 110px;
        letter-spacing: 0;
        &:after {
          top:-32px;
        }
      }
      h2 {
        .font-size(11);
      }
    }
    .intro {
      padding: 10% 5%;
      p {
        .font-size(14);
        line-height: 1.6;
      }
    }
    &:after {
      height:120px;
      background-size: auto 70px;
    }
  }
  #incidents {
    .incident-grid {
      .date {
        margin-top: 14px;
        .month {
          .font-size(16);
          margin-bottom: 6px;
        }
      }
    }
  }
  footer {
    padding: 20px 20px 30px;
    .top a {
      text-align: center;
      width: 102px;
      right: 50%;
      margin-right: -65px;

    }
    ul li {
      float: none;
    }
  }
  .pinned {
    &.filter-menu {
      margin-top:0;
      height:26px;
      padding-top: 10px;
      .month {
        .font-size(16);
      }
      .filters {
        display:none;
      }
    }
    &.share {

      .share-tools {
        padding:10px 5px;
        text-align: center;
        h4 {
          float:none;
          margin: 0 0 10px;
        }
      }
    }
  }
  .modal {
    width:auto;
    left:0;
    &.fade.in {
      top:0;
    }
    .flag {
      h4 {
        .btn {
          margin: 10px auto 0;
          display:block;
          max-width:200px;
        }
      }
    }
    a.prev, a.next {
      width:55px;
      padding: 15px 10px 15px 60px;
      background-position: 8px -117px;
    }
    a.next {
      padding: 15px 60px 15px 10px;
      background-position: 78px -56px;
    }
  }
}